/*Blog*/

.catBack {
    background-image: url(/images/oil.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  
  .homePost {
    overflow:hidden;
  }
  
  .bFloat {
    position: relative;
    top: 83%;
    overflow:hidden;
    transition: .5s;
  }
  
  
  .bFloat:hover {
    top:55%;
    transition: .5s;
  }
  
  
  .mainFloat {
    position: relative;
    top: 92%;
    overflow:hidden;
    transition: .5s;
  }
  
  .mainFloat:hover {
    top:80%;
    transition: .5s;
  }
  
  .topicsCard {
    border-radius: 1rem;
  }
  
  .postOverlay {
    padding:2%;
  }
  
  
  .author-pic {
    width:60%;
    border-radius:24px;
  }
  
  .year {
      width:30%;
  }
  
  .btn:hover {
      text-decoration: none;
      color:white;
  }
  
  .blog-border {
      border: 1px solid #cccccc;
      padding:2%;
  }
  
  .topicsCard {
    padding:1%;
    width:300px !important;
    margin: 1%;
  }
  
  .flexCon {
    justify-content: center;
    display:flex;
    flex-direction: column;
    padding: 2%;
  }
  /*responsive magic*/


  @media only screen and (max-width: 540px) {

    .mainFloat,
    .bFloat {
      top: 85%;
      overflow:hidden;
      transition: .5s;
    }  

  }

  /*Learn Animations*/

  @import url("https://fonts.googleapis.com/css?family=Poppins");


  .bars {
    border-radius: 16px;
    width: 360px;
    height: 360px;
    background: url(/images/blog/peopleSunset.jpeg);
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
  }
  
  .bars:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.92);
  }
  
  .bars .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .bars .img span {
    width: 100%;
    height: 100%;
    background: url(/images/blog/peopleSunset.jpeg);
    transition: .4s;
  }
  
  .bars .img span:nth-child(1) {
    background-position: 0;
    transition-delay: 0;
  }
  
  .bars .img span:nth-child(2) {
    background-position: 33.33333%;
    transition-delay: .1s;
  }
  
  .bars .img span:nth-child(3) {
    background-position: 66.66666%;
    transition-delay: .2s;
  }
  
  .bars .img span:nth-child(4) {
    background-position: 100%;
    transition-delay: .3s;
  }
  
  .bars:hover .img > span {
    transform: translateY(-100%);
  }
  
  .bars:hover .content {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: .1s;
  }
  
  .content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }