/*All the main color declarations*/

/*
Primary color: white
secondary color: purple
accent color: blue
*/


nav,
.header,
.solutions-card,
.backWhite,
.problem-card {
  background-color: $primary-color;
  color:$lGrey;
}


.btn,
.purple,
.card-head:hover {
    color: $primary-color !important;
}

.resubtitle {
  color: $secondary-color;
}
.subtitle{
  color: $lGrey;
}

.posTitle,
a {
 color: $secondary-color !important; 
}

.header {
  background-color: transparent;
}

.topicsCard > a,
.feature-background,
.copyright,
.btn,
.features,
.feature-card,
.text-white {
    color:$primary-color;
  }

 
  .backPurple,
  .footer-card,
  .solutions-and-problems,
  .feature-card,
  .btn-primary {
    background-color: $secondary-color;
    border: 0px solid transparent
}

.feature-background,
body {
    background-color: $primary-color;
}

.backPurple,
.backBlue,
h5 > button.btn:hover,
.btn-link,
.solutions-and-problems,
.features,
.title {
  color: $primary-color;
}

a.white:hover {
  color: $primary-color;
}

.postOverlay,
.title ,
.post-date,
{
  color: $primary-color;
}

.backBlue,
.SEO {
    background-color: $accent-color;
  }

.blackText,
.blue {
  color: $accent-color !important;
}

.greyText {
  color: rgb(80, 80, 80);
}

.transBlack,
.postOverlay {
  background-color: rgba(black, 0.8);
}

.transWhite {
  background-color: rgba(white, 0.8);
}

.blackBack {
  background-color: black !important;
}