.hamburger-nav {
    background-color:$primary-color;
  }
  
.navbar-toggler {
    z-index: 5;
    position: absolute;
    top:4px;
    left:4px;
  }

.card-header .fa {
  transition: .3s transform ease-in-out;
}
  
  a.borderL {
    border-right: 2px solid black;
  }
  
  a.card-head:hover {
    color: $secondary-color
  }
  
  .backLight {
    background-color: white;
    z-index:0;
  }
  
  .card-nav {
    position: relative;
    top:-20px;
  }
  
  .topBtn {
    z-index: 1;
  }