/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/

@font-face {
  src: url(/images/sketch.ttf);
  font-family: sketch;
}

$primary-color: white;
$secondary-color: #42CAF3;
$accent-color: black;
$lGrey: #5b5a5a;



@import 'blog';

/****High-level declarations****/

img {
    max-width: 100%;
    padding:1%;
}

a:hover {
    text-decoration: none;
}

h3 {
    font-size: 1.2rem;
    opacity: .8;
}
  
  ul.features-list > li {
    line-height: 200%;
    font-size: 1.5rem;
    list-style-type: none;
  }

p {
    font-size: 1.3rem;
}
  
.card {
    border-color: transparent;
  }


/* background color */

$trans: transparent;
$block: white;
$line: #cecece ;
$gridSize: 60px;
$subdivisions: 4;
$lineAlpha: .7;
$sublineAlpha: .5;

body {

  background-color: $block;
  background-image:
    linear-gradient(rgba($line,$sublineAlpha) 1px, $trans 1px), /*sub horiz*/
    linear-gradient($line 1px, $trans 1px), /*main horiz*/
    linear-gradient(90deg, rgba($line,$sublineAlpha) 1px, $trans 1px), /*sub vert*/
    linear-gradient(90deg, rgba($line,$lineAlpha) 1px, $trans 1px), /*main vert*/
    linear-gradient($trans 3px, $block 3px, $block $gridSize - 2, $trans $gridSize - 2), /*nub horiz*/
    linear-gradient(90deg, rgba($line,$lineAlpha) 3px, $trans 3px, $trans $gridSize - 2, rgba($line,$lineAlpha) $gridSize - 2) /*nub vert*/
    ;
  background-size:
    $gridSize / $subdivisions $gridSize / $subdivisions,
    $gridSize $gridSize,
    $gridSize / $subdivisions $gridSize / $subdivisions,
    $gridSize $gridSize,
    $gridSize $gridSize,
    $gridSize $gridSize;
}

/*--Color declarations--*/

@import 'colors';


/*****Low level declarations*****/


/*------navigation-------*/





/*basic nav*/
.basic-header {
  font-size: 1.4rem;
}

.basic-header:hover {
background-color: $accent-color;

.discordNav {
  width:50% !important;
}

/*{% if site.hamburger-nav %}*/ 
border-radius: 0%;
/*{% else %}*/
border-radius: 10%;
/*{% endif %}*/

transition-duration: 0.3s;
}
ul.features-list,
li.basic-header > a.nav-link:hover {
  color:white !important; 
}

.contact-info {
  font-size: 0.9rem;
  line-height: 40%;
}



/*Hamburger-nav*/


/*{% if site.hamburger-nav %}*/ 
@import 'hamburger-nav';

/*{% endif %}*/



/*card nav*/



nav { 


 /*{% if site.card-nav %}*/ 

 .card-head{
  border: 2px solid black;
  opacity: .5;
  border-top: transparent;
  padding-top: 2%;
 }

/* else */

.card-head{
  /*{% if site.hamburger-nav %}*/ 
  border: 2px solid, transparent;
  border-radius: 0% !important;

  /* {% else %} */
  border: 2px solid, rgb(82, 82, 82);
  /*{% endif %}*/
  opacity: .5;
  border-top: transparent;
  padding-top: 2%;
  z-index: 3;
 }

/* {% endif %} */

 .header {
  font-size: 2rem;
 }


 .Icon {
  width:40px;
  height:40px;
 }

 @keyframes linkhover {

  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
 }
}



@media only screen and (max-width: 899px) {

/* {% if site.hamburger-nav %}*/
  .navPC {
    display:visible;
  }

/* {% else %}*/
  .navPC {
    display:none;
  }
/*{% endif %}*/
}
@media only screen and (min-width: 900px) {

  
  .navResponsive {
    display:none;
  }
}


/**Home Page**/

/*Main title*/


.title {
    font-family: sketch;
    display: block;
    font-size: 84px;
    letter-spacing: 1px;
    margin-bottom: 0%;
    z-index: 300;
    color: white;
  }

.portTitle,
.subtitle {
    font-size: 48px;
    word-spacing: 5px;
    padding: 2%;
    z-index: 100 !important;
    color:white;
  } 

.tLink {
  font-size: 2rem;
  color: $lGrey !important;
  border-radius: 24px;
}


.aLink {
 border: 3px solid $accent-color;
}

@media only screen and (max-width: 720px) {
    .title {
        font-size:3rem;
    }
    .subtitle {
        font-size: 1.5rem;
        padding:3%;
    }
    .description {
      display:none;
    }
    .responsiveIcon {
      display:none; 
    }
}

@media only screen and (max-width: 496px) {
    .title {
        font-size:2rem;
        padding:1%;
    }

    .subtitle {
        font-size: 1.3rem;
    }
}

/*Who Are We?*/

video.introVideo {
  position: absolute;
  top:0;
  z-index: 100;
  max-width: 100%;
  object-fit: cover;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  z-index: 200;
}



.aboutUs {
  position: absolute;
  top: 90%;
  z-index: 300 !important;
  background-color: black;
}

.aboutTitle {
  color: $secondary-color;
}


/*Features*/


.featureTitles {
  font-family: sketch;
  z-index: 200;
}
p.aboutText {
  color: rgb(136, 136, 136);
}

.postImg {
  border-radius: 5%;
}

.resubtitle {
  font-weight: bold;
}

.feature-icon {
    width: 90px;
    height: 90px;
    margin-top:2%; 
    margin-bottom:5%;
  }

  #f1_container {
    position: relative;
    margin: 10px auto;
    height: 400px;
    z-index: 1;
  }
  #f1_container {
    perspective: 1000;
  }
  #f1_card {
    /*copied from bootstrap col-md-4*/
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
    position:relative;
    width:100%;
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%;

    /*normal rules for f1_card*/
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
  }


  .blueprint {
    background-image: url(/images/blueprints.jpg);
  }

  .sportsCar {
    background-image: url(/images/sportsCar.jpg);
  }

  .welder {
    background-image: url(/images/welding.jpg);
  }
 


.blueprint,
.sportsCar,
.welder {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 1276px) {

    .about-pc {
        display: none;
    }

}

@media only screen and (min-width: 1276px) {

  .about-responsive {
      display: none;
  }

}

/* LEARN */

.learnBackPic {
  background-image: url(/images/carHood.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.learnHead {
  color: black;
  font-size: 2rem;
}

/*
.learnCard {
}
*/

.learnDeck {
  padding: 3%;
}

.blueBorder {
  border: 2px dashed $secondary-color;
}

/*About*/

ul.features-list {
  list-style: none;

}

ul.features-list li:before {
  content: '✓';
}

.aboutPic {
  background-color: rgb(54, 54, 54);
  background-size: cover;
  background-repeat: no-repeat;
}


/*Portfolio*/

.portTitle {
  color:purple;
  font-size:4rem;
  font-weight: bolder;
}

  /*Portfolio*/

  .siteLink {
    background-color: #0077B5;
  }
  
  .gitlabLink {
    background-color: #ff7200;
  }
  
  .siteLink,
  .gitlabLink {
    padding: 1%;
    margin: 1%;
    border-radius: 20%;
    font-size:  1.3rem;
  }
  

/* --post-- */

.postTitle {
  font-size: 4rem;
  font-weight: bold;
}

/* --sidebar-- */

.sidePic {
  border-radius: 50%;
  width:200px;
}

.sticky {
  position:fixed;
  top: 10%;
}

.sidebar__inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

/*Contact Form*/  
  .contact {
    border: 3px solid #0090ff;
    padding:6%;
  }


/* share widget */

.fa-facebook {
    color:#4267B2;
}

.fa-twitter {
    color: #38A1F3;
}

.fa-pinterest {
    color: red;
}

.fa-reddit {
    color:#FF4301;
}

.fa-linkedin {
    color:#0077B5;
}

.fa-envelope-square {
    color: red;
}


/*Experiments*/
/* =Variables
------------------------------------- */
// Colors
$pure-white: hsla(0, 0%, 100%, 1); // #fff
$pure-black: hsla(0, 0%, 0%, 1); // #000
$dark-jungle-green: hsla(210, 3%, 11%, 1); //1c1d1e
$grey-dark: hsla(0, 0%, 25%, 1); // #404040
$white-dark: hsla(0, 0%, 95%, 1); /// #f1f1f1
$fuel-yellow: hsla(36, 100%, 49%, 1); // #f89500

// Fonts
$droid-serif: 'Droid Serif', serif;
$kalam: 'Kalam', cursive;
$open-sans: 'Open Sans', sans-serif;

// transition
$transition: .5s cubic-bezier(.77, 0, .175, 1);
$transition-fast: .2s cubic-bezier(.77, 0, .175, 1);

/* =Functions
------------------------------------- */
// Convert a pixel value to REM units
@function rem($pixel) {
  @return $pixel / 16 + rem;
}

/* =Styles
------------------------------------- */
html {
  background: $dark-jungle-green;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.c-intro {
  animation: fe30-anime 1s ease-in-out 4s forwards;
  opacity: 0;
}

.c-fe30 {
  color: $pure-white;
  margin-top: rem(40);
  text-align: center;
  
  a {
    color: $pure-white;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.c-ryanyu {
  background-color: transparent;
  display: block;
  font-family: $kalam;
  height: rem(70);
  margin: rem(20) auto 0;
  position: relative;
  text-align: center;
  width: rem(70);

  img {
    background-color: $pure-white;
    border: rem(3) solid;
    border-radius: 50%;
    height: rem(70);
    object-fit: contain;
    width: rem(70);
  }
}

.c-ryanyu__front {
  backface-visibility: hidden;
  height: inherit;
  position: absolute;
  top: 0;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition: all $transition;
  z-index: 2000;

  .c-ryanyu:hover & {
    transform: rotateY(180deg);
  }
}

.c-ryanyu__back {
  background-color: $pure-white;
  backface-visibility: hidden;
  border-radius: 50%;

  height: inherit;
  position: absolute;
  text-align: center;
  top: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all $transition;
  width: inherit;
  z-index: 1000;

  &::before {
    content: 'Ryan Yu';
    display: block;
    transform: rotate(-45deg) translate(-4px, 25px);
    width: rem(50);
  }

  .c-ryanyu:hover & {
    transform: rotateY(0);
  }
}

@keyframes fe30-anime {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

/* =Custom Styles
------------------------------------- */
.c-glitch,
.c-glitch__img {
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.c-glitch {
  height: calc(50vh - 200px);
  margin: 0 auto;
	position: relative;
}

.c-glitch__img {
  background-blend-mode: none;
  background-color: transparent;
  height: calc(100% + 5px * 2);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: calc(100% + 10px * 2);
  
  .c-glitch:hover &:nth-child(n+2) {
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  
  .c-glitch:hover &:nth-child(2) {
    animation-name: glitch-anim-1;
  }
  
  .c-glitch:hover &:nth-child(3) {
    animation-name: glitch-anim-2;
  }
  
  .c-glitch:hover &:nth-child(4) {
    animation-name: glitch-anim-3;
  }
  
  .c-glitch:hover &:nth-child(5) {
    animation-name: glitch-anim-4;
    background-blend-mode: overlay;
  }
}

.c-glitch__img:nth-child(n+2) {
	opacity: 0;
}

@keyframes glitch-anim-1 {
	0%, 100% { 
		opacity: 1;
		transform: translate3d(40px, 0, 0) scale3d(-1, -1, 1);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
  
	20% {
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
  
	30% {
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
  
	40% {
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
  
	50% {
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
  
	55% {
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
  
	60% {
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}

  65% {

		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}

	70% {

		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}

	80% {
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}

	85% {
		clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
	}

	95% {
		clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
	}
}

@keyframes glitch-anim-2 {
	0%, 100% { 
		opacity: 1;
		transform: translate3d(-10px, 0, 0);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
  
	10% {
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
  
	15% {
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
  
	17% {
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
  
	19% {
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
  
	33% {
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
  
	35% {
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
  
	40% {
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
  
	45% {
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
  
	49% {
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
  
	50% {
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
  
	55% {
		clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%);
	}
  
	60% {
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
  
	70% {
		clip-path: polygon(0 65%, 100% 65%, 100% 60%, 0 60%);
	}
  
	80% {
		clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
	}
  
	90% {
		clip-path: polygon(0 55%, 100% 55%, 100% 65%, 0 65%);
	}
}

@keyframes glitch-anim-3 {
	0%, 100% {
		opacity: 1;
		transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
  
	5% {
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
  
	11% {
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
  
	20% {
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
  
	25% {
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
  
	35% {
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
  
	42% {
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
  
	48% {
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
  
	50% {
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
  
	56% {
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
  
	61% {
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
  
	68% {
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
  
	72% {
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
  
	77% {
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
  
	81% {
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
  
	86% {
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
  
	90% {
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
  
	92% {
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
  
	94% {
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
}

@keyframes glitch-anim-4 {
	0%, 5% { 
		opacity: 0.2; 
		transform: translate3d(10px, 5px, 0);
	}

	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}
