<!--Projects-->
<div class="card-group col-md-12 d-flex justify-content-center"  data-aos="fade-up">

<div class="col-md-12 justify-content-center d-flex">
<div class="card-deck col-md-10">

{% for featured in site.featured %}

<div div class="col-md-4 text-center postPic">
    <a href="{{ featured.url }}" class="post-link">
        <h1 class="featureTitles">{{ featured.title }}</h1>
        <div class="c-glitch" style="background-image: url({{ featured.image }});">
                <div class="c-glitch__img" style="background-image: url({{ featured.image }});"></div>
                <div class="c-glitch__img" style="background-image: url({{ featured.image }});"></div>
                <div class="c-glitch__img" style="background-image: url({{ featured.image }});"></div>
                <div class="c-glitch__img" style="background-image: url({{ featured.image }});"></div>
                <div class="c-glitch__img" style="background-image: url({{ featured.image }});"></div>
              </div>
</a>
</div>
{% endfor %}

</div>
</div>    

</div>

  
      
    
      