<!--The about section of the homepage -->


<!--Google analytics screenshot-->


 <!--Comments-->

 <!--The following section fades in from the right-->
 <div class="bg-transparent">
    <div class="d-flex p-4 bg-transparent"></div>
    <div class="d-flex p-4 bg-transparent"></div>

    <h1 class="text-center text-white">Leader Board</h1>



<div class="d-flex justify-content-center">
    <iframe src="https://mee6.xyz/leaderboard/538060854869098498" width="70%" height="650px"></iframe> 
</div>

    <div class="d-flex p-4 bg-transparent description"></div>
    <div class="d-flex p-4 bg-transparent description"></div>

  </div>
  </div>
  </div>