

<!--
    Title: LEARN
    Description: Contains
-->


<h1 class="text-center title">LEARN</h1>
<div class="d-flex p-2 bg-transparent"></div>

<div class="learnBackPic col-md-12">
        <div class="d-flex p-4 bg-transparent"></div>

        <div class="d-flex p-4 bg-transparent"></div>
    <div class="d-flex justify-content-center col-md-12">
            <div class="d-flex p-4 bg-transparent"></div>

    <div class="card-deck col-md-10 transBlack learnDeck">


        <div class="col-md-4 card learnCard blueBorder">
                <a target="_blank" href="https://medium.com/@jaynky/10-ways-to-improve-your-discord-server-5fa77a70c95a">
            <h3 class="card-title learnHead text-center">Grow Your Discord</h3>
            <img class="card-img" src="/images/blog/peopleSunset.jpeg" alt="people gathered around sunset">
            <p class="card-text greyText">A short list on a few ways you can make your discord server bigger and better than ever before.</p>

        </a>

    </div>

    <div class="col-md-4 card blueBorder">
            <a target="_blank" href="https://towardsdatascience.com/julia-speed-battle-syntactual-recursive-and-iterative-loops-ff5f719867c1">
        <h3 class="card-title learnHead text-center">Recursion with Julia</h3>
        <img class="card-img" src="/images/blog/recursion.png" alt="recursion code">
        <p class="card-text greyText">With all of the writing i have been doing for the machine learning module, Lathe, and the new algorithms I have been implementing into 0.0.4</p>
    </a>

</div>

<div class="col-md-4 card blueBorder">
        <a target="_blank" href="https://towardsdatascience.com/how-to-use-jupyter-on-your-deep-learning-rig-remotely-with-ssh-cefd78fbfe2c">
            <h3 class="learnHead text-center">SSH Jupyter Notebook</h3>

            <img class="card-img" src="/images/blog/jupyterSSH.jpeg" alt="jupyter ssh image">
        <p class="card-text greyText">When dealing with multiple machines, having your files and hardware separated can be both a blessing, and a terrible curse.</p>    
            
</a>

</div>


<!--Second deck-->

</div>

</div>

    <div class="d-flex p-4 bg-transparent"></div><div class="d-flex p-4 bg-transparent"></div>

</div>


</div>