@charset "UTF-8";
/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/
@import url("https://fonts.googleapis.com/css?family=Poppins");
@font-face {
  src: url(/images/sketch.ttf);
  font-family: sketch; }
/*Blog*/
.catBack {
  background-image: url(/images/oil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.homePost {
  overflow: hidden; }

.bFloat {
  position: relative;
  top: 83%;
  overflow: hidden;
  transition: .5s; }

.bFloat:hover {
  top: 55%;
  transition: .5s; }

.mainFloat {
  position: relative;
  top: 92%;
  overflow: hidden;
  transition: .5s; }

.mainFloat:hover {
  top: 80%;
  transition: .5s; }

.topicsCard {
  border-radius: 1rem; }

.postOverlay {
  padding: 2%; }

.author-pic {
  width: 60%;
  border-radius: 24px; }

.year {
  width: 30%; }

.btn:hover {
  text-decoration: none;
  color: white; }

.blog-border {
  border: 1px solid #cccccc;
  padding: 2%; }

.topicsCard {
  padding: 1%;
  width: 300px !important;
  margin: 1%; }

.flexCon {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2%; }

/*responsive magic*/
@media only screen and (max-width: 540px) {
  .mainFloat,
  .bFloat {
    top: 85%;
    overflow: hidden;
    transition: .5s; } }
/*Learn Animations*/
.bars {
  border-radius: 16px;
  width: 360px;
  height: 360px;
  background: url(/images/blog/peopleSunset.jpeg);
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85); }

.bars:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.92); }

.bars .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; }

.bars .img span {
  width: 100%;
  height: 100%;
  background: url(/images/blog/peopleSunset.jpeg);
  transition: .4s; }

.bars .img span:nth-child(1) {
  background-position: 0;
  transition-delay: 0; }

.bars .img span:nth-child(2) {
  background-position: 33.33333%;
  transition-delay: .1s; }

.bars .img span:nth-child(3) {
  background-position: 66.66666%;
  transition-delay: .2s; }

.bars .img span:nth-child(4) {
  background-position: 100%;
  transition-delay: .3s; }

.bars:hover .img > span {
  transform: translateY(-100%); }

.bars:hover .content {
  transform: translateY(0%);
  transition: 1s;
  transition-delay: .1s; }

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%); }

/****High-level declarations****/
img {
  max-width: 100%;
  padding: 1%; }

a:hover {
  text-decoration: none; }

h3 {
  font-size: 1.2rem;
  opacity: .8; }

ul.features-list > li {
  line-height: 200%;
  font-size: 1.5rem;
  list-style-type: none; }

p {
  font-size: 1.3rem; }

.card {
  border-color: transparent; }

/* background color */
body {
  background-color: white;
  background-image: linear-gradient(rgba(206, 206, 206, 0.5) 1px, transparent 1px), linear-gradient(#cecece 1px, transparent 1px), linear-gradient(90deg, rgba(206, 206, 206, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(206, 206, 206, 0.7) 1px, transparent 1px), linear-gradient(transparent 3px, white 3px, white 58px, transparent 58px), linear-gradient(90deg, rgba(206, 206, 206, 0.7) 3px, transparent 3px, transparent 58px, rgba(206, 206, 206, 0.7) 58px);
  background-size: 15px 15px, 60px 60px, 15px 15px, 60px 60px, 60px 60px, 60px 60px; }

/*--Color declarations--*/
/*All the main color declarations*/
/*
Primary color: white
secondary color: purple
accent color: blue
*/
nav,
.header,
.solutions-card,
.backWhite,
.problem-card {
  background-color: white;
  color: #5b5a5a; }

.btn,
.purple,
.card-head:hover {
  color: white !important; }

.resubtitle {
  color: #42CAF3; }

.subtitle {
  color: #5b5a5a; }

.posTitle,
a {
  color: #42CAF3 !important; }

.header {
  background-color: transparent; }

.topicsCard > a,
.feature-background,
.copyright,
.btn,
.features,
.feature-card,
.text-white {
  color: white; }

.backPurple,
.footer-card,
.solutions-and-problems,
.feature-card,
.btn-primary {
  background-color: #42CAF3;
  border: 0px solid transparent; }

.feature-background,
body {
  background-color: white; }

.backPurple,
.backBlue,
h5 > button.btn:hover,
.btn-link,
.solutions-and-problems,
.features,
.title {
  color: white; }

a.white:hover {
  color: white; }

.postOverlay,
.title,
.post-date {
  color: white; }

.backBlue,
.SEO {
  background-color: black; }

.blackText,
.blue {
  color: black !important; }

.greyText {
  color: #505050; }

.transBlack,
.postOverlay {
  background-color: rgba(0, 0, 0, 0.8); }

.transWhite {
  background-color: rgba(255, 255, 255, 0.8); }

.blackBack {
  background-color: black !important; }

/*****Low level declarations*****/
/*------navigation-------*/
/*basic nav*/
.basic-header {
  font-size: 1.4rem; }

.basic-header:hover {
  background-color: black;
  /*{% if site.hamburger-nav %}*/
  border-radius: 0%;
  /*{% else %}*/
  border-radius: 10%;
  /*{% endif %}*/
  transition-duration: 0.3s; }
  .basic-header:hover .discordNav {
    width: 50% !important; }

ul.features-list,
li.basic-header > a.nav-link:hover {
  color: white !important; }

.contact-info {
  font-size: 0.9rem;
  line-height: 40%; }

/*Hamburger-nav*/
/*{% if site.hamburger-nav %}*/
.hamburger-nav {
  background-color: white; }

.navbar-toggler {
  z-index: 5;
  position: absolute;
  top: 4px;
  left: 4px; }

.card-header .fa {
  transition: .3s transform ease-in-out; }

a.borderL {
  border-right: 2px solid black; }

a.card-head:hover {
  color: #42CAF3; }

.backLight {
  background-color: white;
  z-index: 0; }

.card-nav {
  position: relative;
  top: -20px; }

.topBtn {
  z-index: 1; }

/*{% endif %}*/
/*card nav*/
nav {
  /*{% if site.card-nav %}*/
  /* else */
  /* {% endif %} */ }
  nav .card-head {
    border: 2px solid black;
    opacity: .5;
    border-top: transparent;
    padding-top: 2%; }
  nav .card-head {
    /*{% if site.hamburger-nav %}*/
    border: 2px solid, transparent;
    border-radius: 0% !important;
    /* {% else %} */
    border: 2px solid, #525252;
    /*{% endif %}*/
    opacity: .5;
    border-top: transparent;
    padding-top: 2%;
    z-index: 3; }
  nav .header {
    font-size: 2rem; }
  nav .Icon {
    width: 40px;
    height: 40px; }
@keyframes linkhover {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@media only screen and (max-width: 899px) {
  /* {% if site.hamburger-nav %}*/
  .navPC {
    display: visible; }

  /* {% else %}*/
  .navPC {
    display: none; }

  /*{% endif %}*/ }
@media only screen and (min-width: 900px) {
  .navResponsive {
    display: none; } }
/**Home Page**/
/*Main title*/
.title {
  font-family: sketch;
  display: block;
  font-size: 84px;
  letter-spacing: 1px;
  margin-bottom: 0%;
  z-index: 300;
  color: white; }

.portTitle,
.subtitle {
  font-size: 48px;
  word-spacing: 5px;
  padding: 2%;
  z-index: 100 !important;
  color: white; }

.tLink {
  font-size: 2rem;
  color: #5b5a5a !important;
  border-radius: 24px; }

.aLink {
  border: 3px solid black; }

@media only screen and (max-width: 720px) {
  .title {
    font-size: 3rem; }

  .subtitle {
    font-size: 1.5rem;
    padding: 3%; }

  .description {
    display: none; }

  .responsiveIcon {
    display: none; } }
@media only screen and (max-width: 496px) {
  .title {
    font-size: 2rem;
    padding: 1%; }

  .subtitle {
    font-size: 1.3rem; } }
/*Who Are We?*/
video.introVideo {
  position: absolute;
  top: 0;
  z-index: 100;
  max-width: 100%;
  object-fit: cover; }

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200; }

.aboutUs {
  position: absolute;
  top: 90%;
  z-index: 300 !important;
  background-color: black; }

.aboutTitle {
  color: #42CAF3; }

/*Features*/
.featureTitles {
  font-family: sketch;
  z-index: 200; }

p.aboutText {
  color: #888888; }

.postImg {
  border-radius: 5%; }

.resubtitle {
  font-weight: bold; }

.feature-icon {
  width: 90px;
  height: 90px;
  margin-top: 2%;
  margin-bottom: 5%; }

#f1_container {
  position: relative;
  margin: 10px auto;
  height: 400px;
  z-index: 1; }

#f1_container {
  perspective: 1000; }

#f1_card {
  /*copied from bootstrap col-md-4*/
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  /*normal rules for f1_card*/
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 2%; }

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center; }

.blueprint {
  background-image: url(/images/blueprints.jpg); }

.sportsCar {
  background-image: url(/images/sportsCar.jpg); }

.welder {
  background-image: url(/images/welding.jpg); }

.blueprint,
.sportsCar,
.welder {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@media only screen and (max-width: 1276px) {
  .about-pc {
    display: none; } }
@media only screen and (min-width: 1276px) {
  .about-responsive {
    display: none; } }
/* LEARN */
.learnBackPic {
  background-image: url(/images/carHood.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.learnHead {
  color: black;
  font-size: 2rem; }

/*
.learnCard {
}
*/
.learnDeck {
  padding: 3%; }

.blueBorder {
  border: 2px dashed #42CAF3; }

/*About*/
ul.features-list {
  list-style: none; }

ul.features-list li:before {
  content: '✓'; }

.aboutPic {
  background-color: #363636;
  background-size: cover;
  background-repeat: no-repeat; }

/*Portfolio*/
.portTitle {
  color: purple;
  font-size: 4rem;
  font-weight: bolder; }

/*Portfolio*/
.siteLink {
  background-color: #0077B5; }

.gitlabLink {
  background-color: #ff7200; }

.siteLink,
.gitlabLink {
  padding: 1%;
  margin: 1%;
  border-radius: 20%;
  font-size: 1.3rem; }

/* --post-- */
.postTitle {
  font-size: 4rem;
  font-weight: bold; }

/* --sidebar-- */
.sidePic {
  border-radius: 50%;
  width: 200px; }

.sticky {
  position: fixed;
  top: 10%; }

.sidebar__inner {
  transform: translate(0, 0);
  /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform; }

/*Contact Form*/
.contact {
  border: 3px solid #0090ff;
  padding: 6%; }

/* share widget */
.fa-facebook {
  color: #4267B2; }

.fa-twitter {
  color: #38A1F3; }

.fa-pinterest {
  color: red; }

.fa-reddit {
  color: #FF4301; }

.fa-linkedin {
  color: #0077B5; }

.fa-envelope-square {
  color: red; }

/*Experiments*/
/* =Variables
------------------------------------- */
/* =Functions
------------------------------------- */
/* =Styles
------------------------------------- */
html {
  background: #1b1c1d;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 0; }

.c-intro {
  animation: fe30-anime 1s ease-in-out 4s forwards;
  opacity: 0; }

.c-fe30 {
  color: white;
  margin-top: 2.5rem;
  text-align: center; }
  .c-fe30 a {
    color: white; }
    .c-fe30 a:hover {
      text-decoration: none; }

.c-ryanyu {
  background-color: transparent;
  display: block;
  font-family: "Kalam", cursive;
  height: 4.375rem;
  margin: 1.25rem auto 0;
  position: relative;
  text-align: center;
  width: 4.375rem; }
  .c-ryanyu img {
    background-color: white;
    border: 0.1875rem solid;
    border-radius: 50%;
    height: 4.375rem;
    object-fit: contain;
    width: 4.375rem; }

.c-ryanyu__front {
  backface-visibility: hidden;
  height: inherit;
  position: absolute;
  top: 0;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2000; }
  .c-ryanyu:hover .c-ryanyu__front {
    transform: rotateY(180deg); }

.c-ryanyu__back {
  background-color: white;
  backface-visibility: hidden;
  border-radius: 50%;
  height: inherit;
  position: absolute;
  text-align: center;
  top: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  width: inherit;
  z-index: 1000; }
  .c-ryanyu__back::before {
    content: 'Ryan Yu';
    display: block;
    transform: rotate(-45deg) translate(-4px, 25px);
    width: 3.125rem; }
  .c-ryanyu:hover .c-ryanyu__back {
    transform: rotateY(0); }

@keyframes fe30-anime {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* =Custom Styles
------------------------------------- */
.c-glitch,
.c-glitch__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.c-glitch {
  height: calc(50vh - 200px);
  margin: 0 auto;
  position: relative; }

.c-glitch__img {
  background-blend-mode: none;
  background-color: transparent;
  height: calc(100% + 5px * 2);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: calc(100% + 10px * 2); }
  .c-glitch:hover .c-glitch__img:nth-child(n+2) {
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; }
  .c-glitch:hover .c-glitch__img:nth-child(2) {
    animation-name: glitch-anim-1; }
  .c-glitch:hover .c-glitch__img:nth-child(3) {
    animation-name: glitch-anim-2; }
  .c-glitch:hover .c-glitch__img:nth-child(4) {
    animation-name: glitch-anim-3; }
  .c-glitch:hover .c-glitch__img:nth-child(5) {
    animation-name: glitch-anim-4;
    background-blend-mode: overlay; }

.c-glitch__img:nth-child(n+2) {
  opacity: 0; }

@keyframes glitch-anim-1 {
  0%, 100% {
    opacity: 1;
    transform: translate3d(40px, 0, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
  20% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
  30% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%); }
  40% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
  50% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  55% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  65% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  70% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  80% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  85% {
    clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%); }
  95% {
    clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%); } }
@keyframes glitch-anim-2 {
  0%, 100% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%); }
  10% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%); }
  15% {
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%); }
  17% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  19% {
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%); }
  33% {
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%); }
  35% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  40% {
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%); }
  45% {
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%); }
  49% {
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%); }
  50% {
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%); }
  55% {
    clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%); }
  60% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
  70% {
    clip-path: polygon(0 65%, 100% 65%, 100% 60%, 0 60%); }
  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%); }
  90% {
    clip-path: polygon(0 55%, 100% 55%, 100% 65%, 0 65%); } }
@keyframes glitch-anim-3 {
  0%, 100% {
    opacity: 1;
    transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%); }
  5% {
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%); }
  11% {
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%); }
  20% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  25% {
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%); }
  35% {
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%); }
  42% {
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%); }
  48% {
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%); }
  50% {
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  56% {
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%); }
  61% {
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%); }
  68% {
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%); }
  72% {
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%); }
  77% {
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%); }
  81% {
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%); }
  86% {
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%); }
  90% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  92% {
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%); }
  94% {
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%); } }
@keyframes glitch-anim-4 {
  0%, 5% {
    opacity: 0.2;
    transform: translate3d(10px, 5px, 0); }
  5.5%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=Jstyle.css.map */
