


    <!--Main post-->

<div class="card-group">

    <div class="card col-sm-1"></div>



    <div class="posts col-md-6 card float-right">

    
 {% for category in site.categories limit:1%}

 {% capture libraries %}{{ category | first }}{% endcapture %}
   <div id="#{{ category_name | slugize }}"></div>                    
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories.libraries %}
    <article class="archive-item">

      <img class="postImg" src="{{ post.image }}" alt="{{ post.alt }}">
      <a class="card-img-overlay homePost col-md-12" href="{{ site.baseurl }}{{ post.url }}">
       <div class="postOverlay mainFloat"><h2>{{post.title}}</h2>
        <p class="postDesc">{{post.excerpt}}</p></div>
      </a>
    </article>
    {% endfor %}
   {% endfor %}
</div>

<div class="col-md-3" id="topstories">

<!--Top right post-->
  <div class="posts col-md-12 card float-right">
    

        {% for category in site.categories limit:1%}
       
        {% capture documentation %}{{ category | first }}{% endcapture %}
          <div id="#{{ category_name | slugize }}"></div>                    
           <a name="{{ category_name | slugize }}"></a>
           {% for post in site.categories.documentation %}
           <article class="archive-item">
       
             <img class="card-img postImg img-fluid" src="{{ post.image }}" alt="{{ post.alt }}">
             <a class="card-img-overlay homePost col-md-12" href="{{ site.baseurl }}{{ post.url }}">
              <div class="postOverlay bFloat"><h2>{{post.title}}</h2>
               <p class="postDesc">{{post.excerpt}}</p></div>
             </a>
           </article>
           {% endfor %}
          {% endfor %}
       </div>

       <div class="d-flex p-4 bg-transparent"></div>
       <div class="d-flex p-4 bg-transparent"></div>

<!--Bottom Right post-->

<div class="posts col-md-12 card float-right" id="posts">

    
        {% for category in site.categories limit:1%}
       
        {% capture introduction %}{{ category | first }}{% endcapture %}
          <div id="#{{ category_name | slugize }}"></div>                    
           <a name="{{ category_name | slugize }}"></a>
           {% for post in site.categories.introduction %}
           <article class="archive-item">
       
             <img class="card-img postImg" src="{{ post.image }}" alt="{{ post.alt }}">
             <a class="card-img-overlay homePost col-md-12" href="{{ site.baseurl }}{{ post.url }}">
              <div class="postOverlay bFloat"><h2>{{post.title}}</h2>
               <p class="postDesc">{{post.excerpt}}</p></div>
             </a>
           </article>
           {% endfor %}
          {% endfor %}
       </div>

</div>
</div>
</div>



<div class="d-flex p-4 bg-transparent"></div>

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>




<div class="d-flex justify-content-center col-md-12">
<div class="posts col-md-6 card">
    {% for post in site.posts %}
    <!--Post-->
    <div class="post">
      <h1 class="post-title text-center">
     
            {{ post.title }}
      </h1>
      <!--Date and author-->
      <a href="{{ site.baseurl }}{{ post.url }}">
        <p class="small post-date text-center">{{ post.date | date_to_string }}</p>
        <div class="card-group">
        <img src="{{post.image}}" alt="{{ post.alt }}" class="col-sm-3">
        <p class="card col-md-9">{{ post.excerpt | strip_html }}</p>
        </div>
      </a>
        <div class="d-flex p-4 bg-transparent"></div>

       </div>
    {% endfor %}
</div>
</div>
