
<!--This file contains the navigation elements-->


<!--Only allows fade in animation on the homepage-->
    {% unless page.title == 'Home' %}
    <nav class="card-group fixed-top navbar-expand-md col-md-12">
    {% else %}
    <nav class="card-group sticky-top navbar-expand-md col-md-12 animated fadeInDown delay-1s">
  {% endunless %}

      <!--Home-->
        <a href="#1" class="card card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">
         Home
       </h2>
       </a>

      <!--Blog-->
         <a href="#2" class="card card-head">
       <h2 class="header d-flex justify-content-center">
         About
       </h2>
       </a>
       
       <!--FAQ-->
         <a href="#3" class="card  card-head">
       <h2 class="header d-flex justify-content-center">
         Features
         </h2>
       </a>
       
       <!--Contact-->
       <a href="#4" class="card card-head">
       <h2 class="header d-flex justify-content-center">
         Portfolio
       </h2>
       </a>

              <!--Contact-->
       <a href="#5" class="card card-head">
       <h2 class="header d-flex justify-content-center">
         Contact
       </h2>
       </a>

</nav>