<!--Share Bar-->


<div class="d-flex p-4 bg-transparent"></div>

<div class="d-flex justify-content-center col-md-12">

            <!--Facebook-->
            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Facebook" >
                <img src="/images/icons/facebook.svg" alt="Facebook icon">
            </a>
    
            <!--Twitter-->
            <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Twitter" >
                <img src="/images/icons/twitter.svg" alt="Twitter icon">
            </a>
    
            <!--Pinterest-->
            <a  href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Pinterest" >
                <img src="/images/icons/pinterest.svg" alt="pinterest icon">                        
            </a>
            
            <!--Tumblr-->
            <a  href="https://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Tumblr" >
                <img src="/images/icons/tumblr.svg" alt="tumblr icon">
                       </a>
    
            <!--Reddit-->
            <a  href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Reddit" >
                <img src="/images/icons/reddit.svg" alt="reddit icon">
                        </a>
    
            <!--Linkedin-->
            <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on LinkedIn" >
                <img src="/images/icons/linkedin.svg" alt="linkedin icon">
                        </a>
    
            <!--Email-->
            <a  href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
                title="Share via Email" >
                <img src="/images/icons/email.svg" alt="email icon">
                        </a>
    
    
    
    