<!--Sidebar-->


<div class="card col-md-2 sidebar bg-transparent" id="sidebar">
        <div class="sidebar__inner"></div>

<h1 class="text-center">Author</h1> 


<div class="d-flex justify-content-center">
<img src="/images/sidebar.jpg" class="sidePic">
</div>

<h2 class="text-center">Jay</h2>

<div class="d-flex justify-content-center">

<p>A front-end software engineer who enjoys optimization,
    designing slick websites, and tinkering with everything from 
    raspberry pi's to Ubuntu.
</p>


</div>



<h4>Contact</h4>
<p>website:</p>
<p>Gitlab:</p>
<p>LinkedIn</p>
<p>Phone</p>
<p>Email</p>

    </div>
</div>

<script type="text/javascript" src="/sticky-sidebar.js"></script>
<script type="text/javascript">
var sidebar = new StickySidebar('#sidebar', {topSpacing: 20});
</script>
        

