
<!--List based horizontal navigation bar-->

<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="/">Home</a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#projects">Projects</a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#scoreBoard">Score Board</a>
            </li>
        </ul>
        </div>
        <span class="responsiveIcon navbar-text"><a class="" href="https://discord.gg/ebznuQw"><img class="col-lg-5" src="/images/icons/discord.png"></a></span>          



      </nav>