

<!--Contents of the blog nav-->
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
                <button class="navbar-toggler" type="button" 
                data-toggle="collapse" 
                data-target="#navbarToggleExternalContent" 
                aria-controls="navbarToggleExternalContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                
                <li class="nav-item basic-header">
                  <a class="nav-link text-center white" href="/">
                      Home</a>
                </li>
                
                <li class="nav-item basic-header">
                  <a class="nav-link text-center white" href="#topstories">
                      Top Stories</a>
                </li>
                
                <li class="nav-item basic-header">
                  <a class="nav-link text-center white" href="#posts">
                      Posts</a>
                </li>
                
                <li class="nav-item basic-header">
                  <a class="nav-link text-center white" href="#contact">
                      Contact</a>
                </li>
            </ul>
            </div>
        
            <span class="navbar-text">
            <p class="contact-info">Phone: XXX-XXX-XXXX</p>
            <p class="contact-info">Email: example@gmail.com</p>
        </span>
        </nav>
              