
<!--Handles liquid logic for navbars-->

<div id="top">
        {% if site.hamburger-nav %}
           {% include navbars/hamburger-nav.html %}
        
        {% elsif site.card-nav %}
            {% include navbars/card-nav.html%}
        
        {% else %}
            {% include navbars/basic-nav.html %}
        
        {% endif %}
        
        </div>
        
        
        <div class="navResponsive">
            {% if site.hamburger-nav %}
              {% include navbars/hamburger-nav.html %}

            {% elsif site.card-nav %}

                {% include navbars/hamburger-nav.html %}
<!--TODO: Make basic ham conditional -->

                {% include /navbars/basic-ham.html%}

            {% endif %}
        </div>
