
{% include head.html %}


{% include navbars/main-nav.html %}


{% include navbars/cat-nav.html %}

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>



  <div class="d-flex justify-content-center col-md-12">
<div class="posts col-md-6 card">
      {% for category in site.categories limit:1 %}

    {% capture documentation %}{{ category | first }}{% endcapture %}
    {% for post in site.categories.documentation %}

    <!--Post-->
    <div class="post">
      <h1 class="post-title text-center">
     
         {{ post.title }}
      </h1>
      <!--Date and author-->
      <a href=" {{ post.url }}">  
      <p class="small post-date text-center">{{ post.date | date_to_string }}</p>
        <div class="card-group">
        <img src="{{post.image}}" class="card col-md-3">
        <p class="card col-md-9">{{ post.excerpt | strip_html }}</p>
        </div>
      </a>
        <div class="d-flex p-4 bg-transparent"></div>

       </div>
    {% endfor %}
    {% endfor %}
</div>
</div>
