<!--
    ~~~Home page layout~~~

    Conventions:
    Vertical spacing: <div class="d-flex p-4 bg-transparent"></div>
    Horizontal centering: <div class="d-flex justify-content-center">

-->

{% include head.html %}









<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>


<!--Main Title-->

<div class="d-flex justify-content-center col-md-12">


    <h1 class="display-4 title text-center">
     Learn. Create. Inspire</h1>
</div>

    <h2 class="text-center subtitle">
     Welcome to the Jaynky community
    </h2>

<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-1 card row bg-transparent dLink">
  
        <a class="bg-transparent" href="https://discord.gg/ebznuQw"><img 
             src="/images/icons/discord.png"></a>

    </div>
</div>
<div class="d-flex p-4 bg-transparent"></div>


<!--Who Are We?-->


    <div class="videoOverlay col-md-12"></div>
<video autoplay muted loop id="myVideo" class="introVideo">
    <source src="images/jaynkyintro.mp4" type="video/mp4">
  </video>




<div class="aboutUs">
        <div class="d-flex p-4 bg-transparent"></div>
        <div class="d-flex p-4 bg-transparent"></div>

    <h2 class="text-center featureTitles aboutTitle">What is the Jaynky Community?</h2>
<div class="d-flex justify-content-center col-md-12">
<p class="col-md-6 aboutText text-center">
    Like building machines? Programming applications? 
    Making designs? 
    If so this community is for you. All creators, builders,
    and designers of any skill level are welcome. 
    Come get inspired and share your awesome projects!
</p>
<span id="projects"></span>

</div>

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

</div>


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>


<div>
 {% include /homepage/about-flip-cards.html %}
</div>


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

{% include /homepage/learn.html %}

<div id="features">
 {% include /homepage/features.html %}
</div>

<div id="portfolio">
</div>


{% include footer.html %}
