
<!--Post template-->


{% include head.html %}

{% include navbars/main-nav.html %}



<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>




<!--Border around post-->
<div class="d-flex justify-content-center">
<div class="card col-md-6">

<!--Title-->
<h1 class="text-center postTitle"> {{page.title}} </h1>

<!--Date and author-->
<p class="text-center"><span class="post-date">{{ page.date | date_to_string }} by {{ page.author }}</span></p>

    {{content}}
    
</div>
</div>
    

{% include share-bar.html %}
</div>

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>



{% include footer.html %}